/* ---------------------- */
/* Resets                 */
/* ---------------------- */

/* box-sizing reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-weight: 400;
}

/* reset body */
body {
    font-family: var(--ff-sans-norm);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* to make image work easier */
img, 
picture {
    max-width: 100%;
    display: block;
}

/* making forms easier */
input,
textarea,
select,
button {
    font-family: inherit;
}

/* remove animations for people who do not want to have them */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    --fs-900: clamp(5rem, 11vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-norm: 'Barlow', sans-serif;
    --ff-serif: 'Bellefair', serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ---------------------- */
/* Utility Classes        */
/* ---------------------- */

/* general utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.flow > *:where(:not(:first-child)) {
    margin-top: 1rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-accent { background-color: hsl(var(--clr-light)); }
.bg-white { background-color: hsl(var(--clr-white)); }

.text-dark { color: hsl( var(--clr-dark) ); }
.text-accent { color: hsl(var(--clr-light)); }
.text-white { color: hsl(var(--clr-white)); }

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* numbered titles */

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

/* 1. Large button */

.large-button {
    display: inline-grid;
    color: hsl(var(--clr-dark));
    text-decoration: none;
    padding: 0 2em;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
}

.large-button::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--clr-white) / .1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    opacity: 0;
    transition: all 250ms ease-in-out;
    z-index: -1;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.4);
}

@media (min-width: 35em) {
    .large-button {
        font-size: 2rem;
    }
}

@media (min-width: 45em) {
    .large-button {
        font-size: 2rem;
    }
}

/* 2. Primary navigation */

@media (max-width: 48em) {
    .primary-navigation span {
        display: none;
    }
}

.primary-navigation {
    --underline-gap: 2rem;
    --gap: 3rem;
    list-style: none; 
    padding-inline: 8rem;
    margin: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1.5rem);
    list-style: none; 
    transition: all 400ms ease-in-out;
}

@media (max-width: 35em) {
    .primary-navigation {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 65%;
        z-index: 111;
        padding-top: 7rem;
        --gap: 2rem;
        transform: translateX(100%);
    }

    .primary-navigation > li {
        margin: 0;
        padding: 0;
    }

    .primary-navigation span {
        display: inline-block;
    }
}

@media (max-width: 60em) {
    .primary-navigation {
        padding-inline: 2rem;
    }
}

.translated {
    transform: translateX(0);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a span {
    font-weight: bold;
    margin-right: .3rem;
}

.mobile-nav-toggle {
    border: none;
    position: absolute;
    right: 1rem;
    top: 2rem;
    background: transparent no-repeat url(../assets/shared/icon-hamburger.svg);
    width: 2rem;
    aspect-ratio: 1;
    z-index: 1000;
}

@media (min-width: 35em) {
    .mobile-nav-toggle {
        display: none;
    }
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 45em) {
    .primary-header {
        margin-top: 2rem;
    }
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
}

@media (min-width: 35em) {
    .logo {
        padding: 0;
        margin-left: 1rem;
    }
}

/* 3. Underline indicators */

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    color: hsl(var(--clr-white) / .75);
    transition: all 200ms ease-in-out;
    background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
}

@media (max-width: 35em) {
    .underline-indicators > .active {
        color: hsl( var(--clr-white) / 1);
        border-color: hsl( var(--clr-white) / 0);
    }
}

/* 4. Dot-indicators */

.dot-indicators > * {
    border: 0;
    width: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / .25);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl(var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) );
}

/* 5. Number indicators */

.number-indicators {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.number-indicators > * {
    border: 1px solid hsl(var(--clr-white) / .25);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.number-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) );
    color: hsl( var(--clr-dark) );
    border: 1px solid hsl(var(--clr-white));
}

.number-indicators > *:hover,
.number-indicators > *:focus {
    border: 1px solid hsl(var(--clr-white) );
}

/* ---------------------- */
/* Page-specific          */
/* ---------------------- */

body {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* home */

.home {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url(../assets/home/background-home-mobile.jpg);
}

@media (min-width: 35em) {
    .home {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45em) {
    .home {
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
}

/* ---------------------- */
/* Layout                 */
/* ---------------------- */

/* grid-container */

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
}

.grid-container * {
    margin-inline: auto;
    max-width: 50ch;
}

/* destination */

.grid-container--destination > img {
    width: 170px;
    aspect-ratio: 1;
}

@media (min-width: 35em) {
    .grid-container--destination > img {
        width: 300px;
    }
}

@media (min-width: 45em) {
    .grid-container--destination > img {
        min-width: 80%;
    }
}

.destination {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background: url(../assets/destination/background-destination-tablet.jpg);
}

@media (min-width: 35em) {
    .destination {
        background: url(../assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45em) {
    .destination {
        background-position: right center;
        background: url(../assets/destination/background-destination-desktop.jpg);
    }
}

.grid-container--destination {
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content'
    ;

    gap: 1.5rem;
    padding-block: 3rem;
}

.grid-container--destination > .numbered-title {
    grid-area: title;
}

.grid-container--destination > img {
    grid-area: image;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .25);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

@media (min-width: 35em) {
    .grid-container--destination > .numbered-title {
        justify-self: start;
        margin: 0;
    }

    .destination-meta {
        flex-direction: row;
    }
}



@media (min-width: 45em) {
    .grid-container {
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
        text-align: left;
    }

    .grid-container--home > *:first-child {
        grid-column: 2;
    }
    
    .grid-container--home > *:last-child {
        grid-column: 3;
    }

    .grid-container--home {
        padding-bottom: 6rem;
        align-items: end;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
        gap: 1.5rem;
        padding-block: 3rem;
    }
    
    .grid-container--destination > .tab-list {
        margin: 0;
    }
    
    .destination-info {
        margin: 0;
    }

    .destination-meta {
        gap: min(6vw, 6rem);
    }

    .destination-meta > * {
        margin: 0;
    }
}


/* crew */

.crew {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}

@media (min-width: 35em) {
    .crew {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 45em) {
    .crew {
        background-image: url(../assets/crew/background-crew-desktop.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
}

.commander-image {
    height: 260px;
    aspect-ratio: 1;
    object-fit: contain;
    border-bottom: 1px solid hsl(var(--clr-white) / .25);
}

.grid-container--crew {
    grid-template-areas: 
        'title'
        'image'
        'dots'
        'article'
    ;

    margin-block: 2rem;
    gap: 1.5rem;
}

.grid-container--crew > .numbered-title {
    grid-area: title;
}

.grid-container--crew > .commander-image {
    grid-area: image;
}

.grid-container--crew > .dot-indicators {
    grid-area: dots;
}

.grid-container--crew > .crew-info {
    grid-area: article;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.crew-info__title {
    color: hsl( var(--clr-white) / .5);
}

@media (min-width: 35em) {
    .grid-container--crew {
        grid-template-areas: 
            'title'
            'article'
            'dots'
            'image'
        ;
    
        margin: 2rem 0 0 0;
    }
    
    .grid-container--crew > .numbered-title {
        grid-area: title;
        margin: 0;
        justify-self: start;
    }
    
    .grid-container--crew > .commander-image {
        grid-area: image;
    }
    
    .grid-container--crew > .dot-indicators {
        grid-area: dots;
    }
    
    .grid-container--crew > .crew-info {
        grid-area: article;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .commander-image {
        height: 400px;
        align-self: end;
        border: none;
    }
}   

@media (min-width: 45em) {
    .grid-container--crew {
        grid-template-areas: 
            '. title image .'
            '. article image .'
            '. dots image .'
        ;
    
        margin: 2rem 0 0 0;
        overflow: hidden;
    }
    
    .grid-container--crew > .numbered-title {
        grid-area: title;
        margin: 0;
        justify-self: start;
    }
    
    .grid-container--crew > .commander-image {
        grid-area: image;
    }
    
    .grid-container--crew > .dot-indicators {
        grid-area: dots;
    }
    
    .grid-container--crew > .crew-info {
        grid-area: article;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .commander-image {
        height: min(60vw, 540px);
        align-self: end;
        border: none;
    }

    .crew-info__title {
        margin: 0;
    }

    .crew-info__name {
        display: block;
        margin: 0;
    }

    .crew-info__text {
        max-width: 45ch;
        margin: 0;
    }

    .dot-indicators {
        margin: 0;
        justify-self: flex-start;
    }
}



